<%- include('partials/header', { title: 'Category Detail'}); %>

    <a href="/">Home</a>
    <a href="/category">Exercise's Categories</a>
    <br>
    <a href="/logout">Logout</a>
    <br><br>
    
    <h1><%= data.type %>  Detail</h1>
    <br><br>


    <a href="/category/<%= data.id %> /add" class="btn btn-success">Add Exercise For This Category!</a>
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Question</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.Exercises.forEach((el,idx) => { %>
                <tr>
                    <td><%= idx+1 %>.</td>
                    <td><%= el.question %> </td>
                    <td><%= el.formatCreateDate %> </td>
                    <td><%= el.formatUpdateDate %> </td>
                    <td>
                        <a href="/category/<%= data.id %> /exercise/<%= el.id %>/edit" class="btn btn-info">Update</a>
                        <a href="/category/<%= data.id %> /exercise/<%= el.id %>/delete" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<%- include('partials/footer'); %>
