<%- include('partials/header', { title: 'Student Task'}); %>

    <h1>Student Task</h1>
    <a href="/logout" class="btn btn-danger">Logout</a>


    <h2>Pick Your Exercise</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Exercise Category</th>
                <th>Exercise Duration</th>
                <th>Exercises Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <% data.forEach(el => { %>
        <tbody>
            <tr>
                <td><%= el.type %> </td>
                <td><%= el.formatDuration() %> </td>
                <td><%= el.Exercises.length %> </td>
                <td>
                    <a href="/taskStudent/<%= el.id %>" class="btn btn-primary">Start Exercising!</a>
                </td>
            </tr>
        </tbody>
        <% }) %>
    </table>
<%- include('partials/footer'); %>
