<%- include('partials/header', { title: 'Detail Category'}); %>

    <a href="/">Home</a>
    <a href="/category">Exercise's Categories</a> <br>
    <a href="/logout">Logout</a>

    <h1>Category List</h1>
    <br>

    <nav class="navbar navbar-light bg-light">
        <form action="/category" method="get" class="form-inline">
            <label for="type">Search Category </label><br>
            <input class="form-control mr-sm-2" type="text" name="type" placeholder="Search" aria-label="Search"><br>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    
    
    <table class="table">
        <thead>
            <tr>
                <th>Exercise Category</th>
                <th>Exercise Duration</th>
                <th>Exercises Total</th>
                <th>Teacher Action</th>
            </tr>
        </thead>
        <% data.forEach(el => { %>
        <tbody>
            <tr>
                <td><%= el.type %> </td>
                <td><%= el.formatDuration() %> </td>
                <td><%= el.Exercises.length %> </td>
                <td>
                    <a href="/category/<%= el.id %>" class="btn btn-primary">View Exercise</a>
                </td>
            </tr>
        </tbody>
        <% }) %>
    </table>
<%- include('partials/footer'); %>
